# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE files
.vscode/
.idea/

# fbs installation files
target/

# Virtual env
env/

# MacOS files
.DS_Store

# Test files
.ipynb_checkpoints
tests/datasets/proposed_standard
tests/datasets/point_format
tests/datasets/test1_cdl
tests/datasets/*.cdl
tests/datasets/*.nc
**/*.ipynb
*.html

# Sphinx build
docs/
_build
_static
_templates

# Other
format.sh
matlab_settings.m
DART_qc_values.txt
**/*.bak
cdlconvert.sh

# Files Larger than 50 Mb

tests/datasets/nancy_obs4_original.nc
tests/datasets/test1_nc/cosmic_electron_density.nc
tests/datasets/test1_nc/atov_temperature.nc
tests/datasets/test1_nc/sat_v_wind_component.nc
tests/datasets/test1_groups/atov_temperature.nc
tests/datasets/test1_cdl/cosmic_electron_density.cdl
tests/datasets/test1_cdl/atov_temperature.cdl
tests/datasets/test1_cdl/aircraft_v_wind_component.cdl
tests/datasets/test1_cdl/sat_v_wind_component.cdl
tests/datasets/test1_cdl/aircraft_temperature.cdl