# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE files
.vscode/
.idea/

# fbs installation files
target/

# Virtual env
env/

# MacOS files
.DS_Store

# Test files
.ipynb_checkpoints
tests/datasets/proposed_standard
tests/datasets/point_format
tests/datasets/test1_cdl
tests/datasets/*.cdl
tests/datasets/*.nc
**/*.ipynb

# Sphinx build
build
_static
_templates

# Other
format.sh
matlab_settings.m
DART_qc_values.txt
**/*.bak
cdlconvert.sh