# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE files
.vscode/
.idea/

# fbs installation files
target/

# Virtual env
env/

# MacOS files
.DS_Store

# netCDF CDF Files
**.cdl

# Jupyter Notebook files
.ipynb_checkpoints

# netCDF files
# *.nc

# Manual scripts
format.sh